<div id="prediction_match_<%= @match_id %>">
  <%= form_for @prediction, remote: true do |f| %>
    <td>1</td>
    <td>My Prediction</td>
    <td><%= f.text_field :local_goals, :id => "prediction_match_#{@match_id}_local_goals"  %></td>
    <td><%= f.text_field :visitor_goals, :id => "prediction_match_#{@match_id}_visitor_goals"  %></td>
  <% end %>
</div>