<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4"><strong>Local</strong></div>
      <div class="col-md-4"><strong>Score</strong></div>
      <div class="col-md-4"><strong>Visitor</strong></div>
    </div>
  </div>
  <ul class="list-group">
    <% @matches.each do |match| %>
      <li class="list-group-item">
        <div class="row">
          <div class="local col-md-4"><%= match.local %></div>
          <div class="score col-md-4"> <%= match.local_goals %> - <%= match.visitor_goals %></div>
          <div class="visitor col-md-4"><%= match.visitor %></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
