<div class="jumbotron center">
  <h1>Welcome Futbol Wizards!</h1>
  <p>You think you can look into the future and predict soccer scores?</p>
  <p><a class="btn btn-primary btn-lg" role="button">Sign up</a></p>
</div>
