<% provide(:page_title, 'Home') %>
<div class="jumbotron center">
  <h1>Welcome Futbol Wizards!</h1>
  <p>You think you can look into the future and predict soccer scores?</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
</div>
